
<div class="container-fluid page-body-wrapper ">
<div class="container p-4 w-100 mx-auto">
    <div class="row">
        <div class="col-md-12 mx-auto">
           <div class="">    
<div class="card mx-auto" style="width: 20rem;">
  <img src="/img/foto.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Bienvenido a Sedo, su página donde podra administrar sus evaluacion, mediante la creación de Rúbricas y Lista de Cotejo. Podrá crear cursos y agregar alumnos, de una manera fácil.</p>
  </div>
</div>
</div>

           
            
        </div>
    </div>
</div>
</div>
 