
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
             
           
            </div>

          </div>
        </div>
      </div>
      <!-- modal nueva carpeta -->


      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title text-uppercase">Nueva Rubrica</h6>
            <hr>
            <form action="/rubrica/prueba" method="post">
              <div class="row">

                <div class=" row form-group col-md-12">
                  <label for="Nombre_Rubrica" class="col-form-label col-md-2">Nombre Rúbrica:</label>
                  <div class="col-md-10">
                    <input type="text" class="form-control ml2 col-md-8" name="Nombre_Rubrica" id="Nombre_Rubrica"
                      maxlength="50" placeholder="Nombre Rúbrica" >
                  </div>
                </div>
                <div class=" row form-group col-md-12">
                  <label for="Descripcion_Rubrica" class="col-form-label col-md-2">Descripción:</label>
                  <div class="col-md-10">
                    <textarea name="Descripcion_Rubrica" id="Descripcion_Rubrica" class="form-control col-md-8" rows="2"
                      maxlength="150" placeholder="Descripción Rúbrica" ></textarea>
                  </div>
                </div>
                <div class=" row form-group col-md-12">
                  <label for="Descripcion_Rubrica" class="col-form-label col-md-2">Niveles de Desempeño:</label>
                  <div class="col-md-8">
                  <select name="Nivel_Desempeno_Rubrica" id="" class="form-control ml2 col-md-8" required>
                    <option value="">Seleccionar Nivel de Desempeño</option>
                    <option value="3">3 Niveles</option>
                    <option value="4">4 Niveles</option>
                    <option value="5">5 Niveles</option>
                  </select>
                  </div>
                </div>
              
              </div>
            <hr>
                <div class="row form-group mt-2">
                   <div class="col-md-4 "><a href="#" class="btn-sm w-50 btn btn-success">Volver</a></div>
                    <div class="col-md-4 mx-auto "></div>
                  <div class="col-md-4 "><input type="submit" class="float-right w-50 btn btn-success btn-sm" style="color: white; background-color: #143FDE;" value="Crear Rúbrica"></div>
                </div>
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  