<!DOCTYPE html>
<html>
<head>
	<title class="text-uppercase">SEDO</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/fontello.css">
	<link rel="stylesheet" href="/css/estilos.css">
	<link rel="stylesheet" href="/fonts/fontello.woff2">
	
</head>
</head>
<body>

		 {{>navegacion}}

		
<div class="container-fluid" >
	
    <div class="row ">
		{{#if user}}
   	   <div class="barra-lateral col-12 col-sm-auto">
   	            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
					<a href="/carpeta/principal" style="font-size: 11px"><i >MP</i><span>Menu Principal</span></a>
					<a href="/rubrica/prueba/"  style="font-size: 11px"><i >RU</i><span>Crear Rubrica</span></a>
					<a href="/rubrica/rubricas"  style="font-size: 11px"><i >MRU</i><span>Mis Rubricas</span></a>
					<a href="/listaCotejo/addlistaCotejo/"  style="font-size: 11px"><i>LC</i><span>Crear Lista de Cotejo</span></a>
					<a href="/listaCotejo/listasCotejos/"  style="font-size: 11px"><i >MLC</i><span>Mis Listas de Cotejo</span></a>
					<a href="/evaluacion/"  style="font-size: 11px"><i>EV</i><span>Evaluar</span></a>
				</nav>
   	   </div>
	{{/if}}

   	   <main class="main col" style="margin: solid 1px">
   	   	<div class="row" >

					
				<div class="columna col-lg-12">
   	   	           {{{ body }}}
<!-- 
   	   	            aca va el contenido , le agreggue un div de prueba que corresponde al de estadisticas -->
   	   	           
				</div>

   	   	</div>
   	   </main>
     </div>
   </div>
	<script src="/js/agregarcriterio.js"></script>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>