<div class="container-fluid page-body-wrapper">
<div class="container p-4">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card-header">
                <h3>Registrarse</h3>
            </div>
            <div class="card-body">
             <form name="formulario" class="mt-3" action="/signup" method="POST">

                    <div class=" row form-group">
                        <label for="Rut_Usuario" class="col-form-label col-md-3">Rut:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="Rut_Usuario" id="Rut_Usuario" maxlength="50"
                                placeholder="Rut"  required>
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="NombreP_Usuario" class="col-form-label col-md-3">Primer Nombre:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="NombreP_Usuario" id="NombreP_Usuario" 
                                 placeholder="Primer Nombre" required>
                        </div>
                        <label for="NombreS_Usuario" class="col-form-label col-md-3">Segundo Nombre:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="NombreS_Usuario" id="NombreS_Usuario"
                                maxlength="20"  placeholder="Segundo Nombre" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="ApellidoP_Usuario" class="col-form-label col-md-3">Apellido Pat.:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="ApellidoP_Usuario" id="ApellidoP_Usuario" 
                                 placeholder="Apellido Paterno" required>
                        </div>
                        <label for="ApellidoM_Usuario" class="col-form-label col-md-3">Apellido Mat.:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="ApellidoM_Usuario" id="ApellidoM_Usuario"
                                maxlength="20"  placeholder="Apellido Materno" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Email_Usuario" class="col-form-label col-md-3">Email:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="Email_Usuario" id="Email_Usuario" 
                                 placeholder="Email" required>
                        </div>
                        <label for="Password_Usuario" class="col-form-label col-md-3">Password:</label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" name="Password_Usuario" id="Password_Usuario"
                                maxlength="20"  placeholder="Contraseña" required>
                        </div>
                    </div>
                  <hr>
                    <div class="row form-group mt-2">
                        <div class = "col-md-4"></div>
                        <div class = "col-md-4"></div>
                        <div class = "col-md-4"><input type="submit" class="btn btn-success btn-block" value="Registrarse"></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
 
  

  
 
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/data-table.js"></script>
  <script src="/js/dataTables.bootstrap4.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/jquery.dataTables.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/vendor.bundle.base.js"></script>