
  <!-- div del cuerpo -->
   <div class="mt-5">    
<div class="card mx-auto" style="width: 20rem;">
  <img src="/img/foto.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda placeat libero eum rem facere, nisi facilis repellendus doloremque distinctio cumque blanditiis repudiandae quae, optio velit nihil quibusdam corporis nobis vel.</p>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
  Launch demo modal
</button>
</div>
</div>

   
    <!--ventanas modales -->
   <div>
   
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Registrarse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formulario" class="mt-3" action="/signup" method="POST">

                    <div class=" row form-group">
                        <label for="Rut_Usuario" class="col-form-label col-md-3">Rut:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="Rut_Usuario" id="Rut_Usuario" maxlength="50"
                                placeholder="Ingrese Rut"  required>
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="NombreP_Usuario" class="col-form-label col-md-3">Primer Nombre:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="NombreP_Usuario" id="NombreP_Usuario" 
                                 placeholder="A単o" required>
                        </div>
                        <label for="NombreS_Usuario" class="col-form-label col-md-3">Segundo Nombre:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="NombreS_Usuario" id="NombreS_Usuario"
                                maxlength="20"  placeholder="Seccion" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="ApellidoP_Usuario" class="col-form-label col-md-3">Apellido Pat.:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="ApellidoP_Usuario" id="ApellidoP_Usuario" 
                                 placeholder="A単o" required>
                        </div>
                        <label for="ApellidoM_Usuario" class="col-form-label col-md-3">Apellido Mat.:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="ApellidoM_Usuario" id="ApellidoM_Usuario"
                                maxlength="20"  placeholder="Seccion" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Email_Usuario" class="col-form-label col-md-3">Email:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="Email_Usuario" id="Email_Usuario" 
                                 placeholder="A単o" required>
                        </div>
                        <label for="Password_Usuario" class="col-form-label col-md-3">Password:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="Password_Usuario" id="Password_Usuario"
                                maxlength="20"  placeholder="Seccion" required>
                        </div>
                    </div>
                  <hr>
                    <div class="row form-group mt-2">
                        <div class = "col-md-4"><input type="text" class="form-control"></div>
                        <div class = "col-md-4"></div>
                        <div class = "col-md-4"><input type="submit" class="form-control"></div>
                    </div>

                  
                    
                    
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Inicio Sesion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="formulario" class="mt-3" action="/signin" method="POST">

                    <div class=" row form-group">
                        <label for="usuario" class="col-form-label col-md-3">Rut:</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="usuario" id="usuario" maxlength="50"
                                placeholder="Ingrese Rut"  required>
                        </div>
                        
                    </div>

                    <div class="row form-group">
                        <label for="password" class="col-form-label col-md-3">Constrase単a:</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" name="password" id="password" 
                                 placeholder="" required>
                        </div>
                      
                    </div>
                    
                  <hr>
                    <div class="row form-group mt-2">
                        <div class = "col-md-12 "><input type="submit" class="form-control btn btn-success" value="Ingresar"></div>
                    </div>

                  
                    
                    
                </form>
            </div>
        </div>
    </div>
</div>


    
   </div>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/data-table.js"></script>
  <script src="/js/dataTables.bootstrap4.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/jquery.dataTables.js"></script>
  <script src="/js/off-canvas.js"></script>
  <script src="/js/vendor.bundle.base.js"></script>